/* 선택 */
.surveyDiv{
	width: 670px;
	padding-left: 165px;
}
.surveyTypeDiv{
	height: 38px;
}


.surveyTitleDiv{
	overflow:hidden;  
	text-align: center;
}
.titleSpan{
   display:inline-block;
   margin:10px 10px 0 0;
   padding:5px 10px
}

.surveySecondTitleDiv{
	overflow:hidden;  
	text-align: center;
}
.second_titleSpan{
   display:inline-block;
   margin:0 10px 0 0;
   padding:5px 10px
}

/**/
div[class*=contsDiv]{
	float: left;
}

.contsContainer{
	width: 670px;
	height: 350px;
}

/*최종 결과화면*/
.btnLine{
	display:inline-block;
	margin:10px 10px 0 0;
	background-image: url("/images/common/survey/blue_linebar.gif");
	background-repeat: no-repeat center;
	width:30px; 
	height:2px;
}

.surveyResult{
	width :540px;
	height: auto;
	padding-left: 230px;
}
.top_container{
	padding-left: 14px;
}
.result_container{
	background-image: url("/images/builder/survey/result_survey/img01.gif");
	background-repeat: no-repeat;
	width: 501px;
	height: 101px;
}
.hrBar{
	background-image: url("/images/builder/survey/result_survey/line_img.gif");
	background-repeat: no-repeat;
	width: 540px;
	height: 1px;	
}

/* 중간 div 묶음*/
.top_container{
	height: auto;
}

.typeButton{
	background-image: url("/images/builder/survey/result_survey/img02.gif");
	background-repeat: no-repeat;
	width: 539px;
	height: 50px;	
}

.secondTitleBtn{
	background-image: url("/images/builder/survey/result_survey/q_bt03.gif");
	background-repeat: no-repeat;
	float: left;
	width: 41px;
	height: 40px;	
}
.secondTitle{
	float: left;
	line-height: 43px;
	padding-left: 10px;
}


.dotteBar{
	background-image: url("/images/builder/survey/result_survey/dotted_img.gif");
	background-repeat: no-repeat;
	width: 540px;
	height: 1px;
}

/*Bottom*/
.bottm_container{
	width: 510px;
	height: 280px;
	padding-left: 30px;
}
.rank1Btn{
	background-image: url("/images/builder/survey/result_survey/1_bt.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 29px;
}
.rank2Btn{
	background-image: url("/images/builder/survey/result_survey/2_bt.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 29px;
}
.rank1{
	float: left;
	width: 255px;
}
.rank2{
	width: 255px;
	float: left;
}