<div class="Contentdiv first">

  <div class="mtitle">
    
       <img src="img/list_category_icon.png" alt="">
          <span class="mcategoryTx">음식/여행</span>
          <p class="mcontentTxx">오늘 밤 야식으로<br> 먹고싶은 음식은?</p>

  </div>
  <!-- //mtitle -->

  <div class="mpic"><img src="img/main_test01.png" alt=""></div>

  <p class="detailTxx">야식이 너무 땡기는 날! <br> 잠도 안오는데 오늘은 어떤 야식 드시고 싶으세요?</p> 
  <a href="#" class="openMcon">내용열기 </a> 

  <div class="confooter">
    <img src="img/list_calendar_icon.png" alt=""><span class="confooterTx">2016.04.03</span> <img src="img/list_reply_icon.png" alt=""><span class="confooterTx">999</span>  
  </div>

                
</div>





'<div class="bgpic"><img src="'+data.contents[i].THUMBNAIL_IMAGE_PATH+'" alt=""></div>'+
                                    '<div class="dateinfo">'+
                                    '<img src="img/list_calendar_icon.png" alt=""> '+data.contents[i].REG_DATE+'<img src="img/list_reply_icon.png" alt=""> '+data.contents[i].REG_DATE+
                                    '</div></div></div>');




                                    <div class="Contentdiv first">'+
                                    '<div class="mtitle">'+
                                    '<img src="img/list_category_icon.png" alt="카테고리">'
                                    '<span class="mcategoryTx">'+firstCategory[i]+'</span>'+
                                    '<p class="mcontentTxx">'+data.contents[i].TITLE+'</p>'+
                                    '</div>'+
                                    '<div class="mpic"><img src="'+data.contents[i].THUMBNAIL_IMAGE_PATH+'" alt=""></div>'+
                                    '<p class="detailTxx">야식이 너무 땡기는 날! <br> 잠도 안오는데 오늘은 어떤 야식 드시고 싶으세요?</p> '+
                                    '<a href="/view_contents?contentsId='+data.contents[i].CONTENTS_ID+'" class="openMcon" rel="modal:open" id="ii'+i+'">글 열기 </a>
                                    </div>'+
                              